<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title> HOME PAGE </title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body class="try">
    <div class="home-container mail", id="app">
        <div class="wrapper">
            
        </div>
        <div class="wrapper">
            <div class="description">
                <div> <h2> <strong>Welcome to VParkEasy</strong><span style='color: #888; font-size: 0.70em;'> – The Ultimate Vehicle Parking App for Fast, Easy, and Stress-Free Parking with Vue and {{ section }}!</span></h2><p>Ready to roll? Parking made simple – with VParkEasy, you're always a tap away from the perfect spot.</p> </div>
            </div>
            <div class="login-link">
                <a href="/login" class="btn">Login</a>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script type="module" src="../static/script.js"></script>
</html>